.category {
  display: block;
  width: 1.8em;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="330" height="330"><polygon fill="%23fff" stroke="%23000" stroke-width="15" stroke-linejoin="round" points="315,165 240,295 90,295 15,165 90,35 240,35"></polygon></svg>');
  background-size: 100%;
  background-repeat: repeat-y;
  text-align: center;
  line-height: 2.65em;
  padding: 0 calc((1.8em - 1em)/2);
}
