.category-name {
    position: absolute;
    top: 100px;
    left: 10px;
    z-index: 2;
    width: 10%;
}

.tag-listing {
    list-style-type: none;
    width: 87%;
    margin-left: 8%;
    margin-right: 5%;
    padding-left: 1%;
    padding-right: 1%;
}

.category-name {
    position: fixed;
    width: 4%;
    display: inline;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 24pt;
}

.category-items {
    display: inline;
    width: 94%;
}

.tag-item {
    display: inline-block;
    background-color: #FFF;
    width: 49%;
    font-size: 13px;
    vertical-align: top;
}

.tag-item:nth-child(odd) {
    margin: 0 1% 0 0;
    vertical-align: top;
}

.itemimage-wrap {
    max-width: 451px;
    max-height: 225px;
    overflow: hidden;
    text-align: center;
}

img.category-itemimage {
    width: 100%;
    height: auto;
}

.tag-itemdesc {
    width: 85%;
    background-color: #FFF;
    height: 171px;
}

.tag-itemtitle {
    margin-top: 12px;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 12px;
    font-size: 160%;
    font-family: "Noto Sans",'Noto Sans TC', Roboto;
    font-weight: 400;
}

.tag-itemexcerpt {
    display: block;
    font-size: 14px;
    font-family: "Noto Sans",'Noto Sans TC', Roboto;
    font-weight: light;
}

.tag-itempublished {
    padding-left: 80%;
}
@media all and (max-width: 954px) and (min-width: 800px) {
    .itemimage-wrap {
        width: 100%;
    }
}

/* 451 * 2 + 52 = 954 */
/* 寬度800px 以下*/
@media
only screen
and (max-device-width : 799px) {
    .tag-item {
        width: 100%;
        margin: 0;
        height: 380px;
        overflow: hidden;
    }
    .tag-listing {
        width: 100%;
        margin: 0;
        -webkit-column-count: 1;
        column-count: 1;
        padding: 0;
    }
    .tag-itemtitle {
        font-weight: bold;
    }
    .category-items {
        width: 100%;
        clear: both;
    }
    .tag-itemdesc {
        width: 85%;
        margin-left:6%;
        background-color: #FFF;
        height: 140px;
    }
    .itemimage-wrap {
        max-width: 1200px;
        max-height: 225px;
    }
}
